<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="article-list">
            <article class="post">
                <header class="article-title text-center">
                    <p>Welcome to SuperHeroesInc!!</p>
                    <h2>Check out some of our featured courses!</h2>
                </header>
                @*<div class="article-featured-content shadow-z-2">
                    <a href="single.html"><img class="img-responsive" src="~/Content/img/post-2.jpg" alt=""></a>
                </div>*@
                <div class="post-summary">
                    <p>at SuperHeroesInc we strive to bring our communities closer to their heroes by offering a multitude of classes and meetups! feel free to peruse our many different courses and get an up close look at all the Heroes and Villains in our comprehensive database</p>
                </div>
                @*<div class="post-detail-link text-center">
                    <a href="single.html" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>*@
            </article>
            <article class="post">
                <header class="article-title text-center">
                    <p></p>
                    <h2>Self Awareness</h2>
                    <p class="post-meta">feat. Iron Man</p>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <img class="img-responsive" src="~/Content/img/Ironman self awareness.jpg" alt="Iron man sitting on couch">
                </div>
                <div class="post-summary">
                    <p>Has anyone ever told you to get a grip on your self? Here is your chance, learn the path to self awareness with the most self aware man on the planet, Tony Stark!</p>
                </div>
                <div class="post-detail-link text-center">
                    <a href="single.html" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>
            <article class="post">
                <header class="article-title text-center">
                    <h2><a href="single.html">Anger Management</a></h2>
                    <p class="post-meta">feat. Hulk and Yoda</p>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <img id="Hulk" class="img-responsive" src="~/Content/img/Hulk anger management.jpg" alt="Yoda teaching Hulk anger management">
                </div>
                <div class="post-summary">
                    <p>Do you find yourself boiling with rage? do you take those frustrations out on the dog? Join Yoda and the Incredible Hulk for our Anger Management courses!</p>
                </div>
                <div class="post-detail-link text-center">
                    <a href="single.html" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>
            <article class="post">
                <header class="article-title text-center">
                    <h2><a href="single.html">Surfing Lessons</a></h2>
                    <p class="post-meta">feat. Batman</p>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <a href="single.html"><img id="Batman" class="img-responsive" src="~/Content/img/baman surfing.png" alt=""></a>
                </div>
                <div class="post-summary">
                    <p>Ever want to learn how to ride the waves with the best of them? then come see the man with the sunny disposition, Batman! and start your summer off right. "Get pitted brah..so pitted.."</p>
                </div>
                <div class="post-detail-link text-center">
                    <a href="single.html" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>
            @*<article class="post">
                <header class="article-title text-center">
                    <p>Movie</p>
                    <h2><a href="single.html">The Target Man!</a></h2>
                    <p class="post-meta">by Ratul Ahmed at 05th May</p>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <a href="single.html"><img class="img-responsive" src="~/Content/img/article-4.jpg" alt=""></a>
                </div>
                <div class="post-summary">
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                </div>
                <div class="post-detail-link text-center">
                    <a href="single.html" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>*@
            @*<article class="post">
                <header class="article-title text-center">
                    <p><a href="archive.html">Secret</a></p>
                    <h2><a href="single.html">Mind can be controled like mine!</a></h2>
                    <p class="post-meta">by Unknown at 02nd May</p>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <a href="single.html"><img class="img-responsive" src="~/Content/img/article-5.jpg" alt=""></a>
                </div>
                <div class="post-summary">
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                </div>
                <div class="post-detail-link text-center">
                    <a href="single.html" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>*@


            @*<nav role="navigation" class="navigation posts-navigation">
                <div class="nav-links">
                    <div class="nav-previous">
                        <a href="#">Older posts</a>
                    </div>
                    <div class="nav-next">
                        <a href="#">Newer posts</a>
                    </div>
                </div>
            </nav>*@
        </div>
    </div>
</div>
